.sidebar {
    height: 100%;
    width: 250px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 30px;
}

.sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 20px;
    color: white;
    display: flex;
    align-items: center;
    transition: 0.3s;
}

.sidebar a i {
    width: 35px;
}

.sidebar a:hover {
    background-color: #4870ff;
}

.sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 10px;
    font-size: 36px;
    margin-left: 50px;
}

.closebtn:hover {
    color: var(--danger);
}

a.activeLink {
    background-color: #ffffff;
    color: var(--primary);
}